#build folder
build
dist
target
session-store
docker/*.jar
.settings
${rootArtifactId}-ear/target
${rootArtifactId}-business/target
${rootArtifactId}-common/target
${rootArtifactId}-coverage/target
${rootArtifactId}-model/target
${rootArtifactId}-web/target
${rootArtifactId}-ear/.settings
${rootArtifactId}-business/.settings
${rootArtifactId}-common/.settings
${rootArtifactId}-coverage/.settings
${rootArtifactId}-model/.settings
${rootArtifactId}-web/.settings
${rootArtifactId}-ear/bin
${rootArtifactId}-business/bin
${rootArtifactId}-common/bin
${rootArtifactId}-coverage/bin
${rootArtifactId}-model/bin
${rootArtifactId}-web/bin

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#gradle
.gradle

#IntelliJ
.idea

#Sonar Qube
.scannerwork
*.hprof
${rootArtifactId}-business/.classpath
${rootArtifactId}-web/.factorypath
${rootArtifactId}-model/.factorypath
${rootArtifactId}-web/.classpath
${rootArtifactId}-model/.classpath
${rootArtifactId}-common/.factorypath
${rootArtifactId}-common/.classpath
${rootArtifactId}-business/.factorypath
.project
.vscode/launch.json
${rootArtifactId}-business/.classpath
${rootArtifactId}-business/.factorypath
${rootArtifactId}-business/.project
${rootArtifactId}-common/.classpath
${rootArtifactId}-common/.factorypath
${rootArtifactId}-common/.project
${rootArtifactId}-coverage/.project
${rootArtifactId}-ear/.project
${rootArtifactId}-model/.classpath
${rootArtifactId}-model/.factorypath
${rootArtifactId}-model/.project
${rootArtifactId}-web/.classpath
${rootArtifactId}-web/.factorypath
${rootArtifactId}-web/.project
.project
${rootArtifactId}-business/.classpath
${rootArtifactId}-business/.factorypath
${rootArtifactId}-business/.project
${rootArtifactId}-common/.classpath
${rootArtifactId}-common/.factorypath
${rootArtifactId}-common/.project
${rootArtifactId}-coverage/.project
${rootArtifactId}-ear/.project
${rootArtifactId}-model/.classpath
${rootArtifactId}-model/.factorypath
${rootArtifactId}-model/.project
${rootArtifactId}-web/.classpath
${rootArtifactId}-web/.factorypath
${rootArtifactId}-web/.project
